@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Reset básico para garantir que a altura ocupe a tela toda */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
